.posting--post {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  padding: 16px 16px 16px;
  gap: 20px;
}

.posting--post .posting--post-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.posting--post .posting--post-profile img {
  width: 30px;
}

.posting--post .posting--post-profile .posting--post-profile-text .posting--post-profile-name {
  font-size: 16px;
  font-weight: bold;
}

.posting--post .posting--post-profile .posting--post-profile-text .posting--post-profile-email {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.posting--post .posting--post-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
